In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('../dataset/weight-height.csv')

In [4]:
le = LabelEncoder()
 
df['Gender']= le.fit_transform(df['Gender'])

In [5]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

In [6]:
df.shape

(10000, 3)

In [7]:
df.describe()

             Gender        Height        Weight
count  10000.000000  10000.000000  10000.000000
mean       0.500000     66.367560    161.440357
std        0.500025      3.847528     32.108439
min        0.000000     54.263133     64.700127
25%        0.000000     63.505620    135.818051
50%        0.500000     66.318070    161.212928
75%        1.000000     69.174262    187.169525
max        1.000000     78.998742    269.989699

In [8]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  int32
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), int32(1)
memory usage: 195.4 KB

In [10]:
X = df.drop(columns='Weight')
y = df['Weight']

In [11]:
x_train,x_test,y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=4)

In [12]:
lin_reg = LinearRegression()

In [13]:
model = lin_reg.fit(x_train,y_train)

In [14]:
coef_dict = {
    'features' : X.columns,
    'coef_value' : model.coef_
}

coef = pd.DataFrame(coef_dict, columns=['features','coef_value'])
coef

  features  coef_value
0   Gender   18.990589
1   Height    6.040873

In [15]:
y_predict = model.predict(x_test)

In [16]:
akurasi = model.score(x_test,y_test)

In [17]:
# Prediksi berat badan
model.predict([[1,145]])

C:\Users\Yudif\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([645.99584816])

In [18]:
import joblib


joblib.dump((model), "berat_badan_model_linreg.pkl")

['berat_badan_model_linreg.pkl']